body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: rgb(216, 183, 254);
    vertical-align:center;
  }
  

  .box{
    position: relative;
    display: flex; 
    width: 100%;
}

  
  .box .text{
    position: absolute;
   
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 60%; 
} 

.box .text1{
  position: absolute;
  color: #37570a;
  margin: 0 auto;
  left: 10%;
  right: 90%;
  top: 15%; 
  text-align: center;
  width: 40%; 
  font-family: "Courier New", Courier, monospace;
} 

.tophead{
  color: #37570a;
  font-family:  "Courier New", Courier, monospace;
  padding-top: 5px;
  
  font-weight: bolder;

  
}


 #header{
  background-image: url('./images/headerBg.jpg');
  background-size: cover;
}

h2 {text-align: center;
color: rgb(255, 255, 255);

padding: 5px;
font-family: "Comic Sans MS", cursive, sans-serif;
padding-top: 5px;
font-weight: bold;

}



.flex-container {
  display: flex;
  justify-content: center;
  color: green;

padding: 10px;
font-family:serif;
padding-top: 10px;
font-weight: bold;
  flex-wrap: wrap;
}
    
    .icon-main {
      width: 120px;
      padding: 4em 2rem 0em 1rem;
      float: left;
    
      }
  
    
    
  nav {
    background-color: rgb(216, 183, 254);
    margin: 0;
    overflow: hidden;
    padding-bottom: 30px;
    text-align: center;
    ;
  }
  
  /*  adjusts nav position along with logo */
  nav ul{
    margin: 0;   
  }

  
  nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;

  } 
  
  /* Create a style for the first level items */
  nav  ul  li  a {
    color: rgb(92, 212, 255);
    background-color:#023443;
    display: block;
    line-height: 1em;
    
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 10px;
    font-size: large;  
  }
  
  nav  ul  li  a:hover{
    background-color: rgba(232, 72, 247, 0.803);
    color: rgb(4, 0, 255)  ;
     text-decoration: none;
      }
  
  nav li  ul li{
    display: block;
    }
    
 

  nav li ul li a:hover{
    background-color: orange;
  }
  

  .column0 {
    float: left;
    width: 100%;
    background-color: rgb(216, 183, 254);
    /* This will change the color to red */
    /* rgb color is a mix of red, green and blue  */
    /* color: rgb(255,0,0)  */
    /* changes the shade/opacity of the color */
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
   }


  .column1 {
    float: left;
    width: 50%;
    background-color: rgb(1, 128, 52);
    /* This will change the color to red */
    /* rgb color is a mix of red, green and blue  */
    /* color: rgb(255,0,0)  */
    /* changes the shade/opacity of the color */
    color: white;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
   }

  .column2 {
    float: left;
    width: 50%;
    background-color: rgba(23, 169, 0, 0.81);
    /* This will change the color to red */
    /* rgb color is a mix of red, green and blue  */
    /* color: rgb(255,0,0)  */
    /* changes the shade/opacity of the color */
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;

   }

   .col {
    float: left;
    width: 50%;
    background-color: peachpuff;
    /* This will change the color to red */
    /* rgb color is a mix of red, green and blue  */
    /* color: rgb(255,0,0)  */
    /* changes the shade/opacity of the color */
    color: rgba(0, 0, 255, 0.8)
   }

   form 	{
	margin: auto;
	position: relative;
	width: 550px;
	height: 700px;
	padding:10px;
    border: solid 3px lightskyblue;
    background-color: #5a67e9;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:  rgb(255, 255, 255);
    line-height: 24px;	
    border-radius:10px;
    box-shadow:0px 0px 8px #040404; ;

}
input	{
	width: 370px;
	display: block;
}

textarea	{
	width: 370px;
	display: block;
	height: 150px;
	position: relative;
}


.button3		{
	width: 100px;
	height: 30px;
    position: absolute;
	bottom: 60px;
    right: 20px;
    border-radius: 15px;
	background-color:  rgb(0, 203, 17);
	color:  rgb(0, 0, 0);

}

.button2		{
	width: 100px;
	height: 30px;
    position: absolute;
	bottom: 10px;
    right: 20px;
    border-radius: 15px;
	background-color: rgb(216, 183, 254);
	color:  rgb(0, 0, 0);

}


table.center {
  margin-left:auto; 
  margin-right:auto;
}

table,td,th{
    border:2px solid rgb(0, 167, 0);
    text-align: center;
}
table{
    border-collapse:collapse;
    width:70%;
    text-align: center;
    margin:20px ;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
th,td{
    padding:15px;
    
}
/* tr:hover{
    background-color: blueviolet;

} */
tr:nth-child(even){
    background-color: rgb(255, 255, 255);
}
th{
    color:rgb(255, 255, 255);
    background-color: #5a67e9;
}

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }


  .footerstyles{
text-align: center;
background-color: rgb(190, 197, 199);
padding: 10px;
border-top: 2px solid black;
  }

.socialmedia{
padding-top: 15px;

}
  

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  
  }
  
  .column {
    flex: 32.8;
    max-width: 32.8%;
    padding: 0 4px;
    background-color: black;
    color: white;

    text-align: center;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    
  }

  .Lists {
    text-align: center;
    
  color:black; }
 

  .col3  {
    float: left;
    width: 50%;
    background-color: rgba(180, 181, 180, 0.81);
    /* This will change the color to red */
    /* rgb color is a mix of red, green and blue  */
    /* color: rgb(255,0,0)  */
    /* changes the shade/opacity of the color */
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-bottom: 50px;
  }
  .col4  {
    float: left;
    width: 50%;
    background-color: rgba(89, 89, 89, 0.81);
    /* This will change the color to red */
    /* rgb color is a mix of red, green and blue  */
    /* color: rgb(255,0,0)  */
    /* changes the shade/opacity of the color */
    color: rgba(228, 228, 228, 0.8);
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
   margin-bottom: 50px;
  }

    .col5  {
      float: left;
      width: 50%;
      background-color: rgba(69, 152, 255, 0.81);
      /* This will change the color to red */
      /* rgb color is a mix of red, green and blue  */
      /* color: rgb(255,0,0)  */
      /* changes the shade/opacity of the color */
      color: rgba(0, 0, 0, 0.8);
      text-align: center;
      font-family: "Arial Black", Gadget, sans-serif;
      margin-bottom: 50px;
    }

      .col6  {
        float: left;
        width: 50%;
        background-color: rgba(23, 3, 114, 0.81);
        /* This will change the color to red */
        /* rgb color is a mix of red, green and blue  */
        /* color: rgb(255,0,0)  */
        /* changes the shade/opacity of the color */
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-family: "Arial Black", Gadget, sans-serif;
        margin-bottom: 50px;
      }


        .col7  {
          float: left;
          width: 50%;
          background-color: rgba(255, 235, 154, 0.81);
          /* This will change the color to red */
          /* rgb color is a mix of red, green and blue  */
          /* color: rgb(255,0,0)  */
          /* changes the shade/opacity of the color */
          color: rgba(0, 0, 0, 0.8);
          text-align: center;
          font-family: "Arial Black", Gadget, sans-serif;
          margin-bottom: 30px;
        }


          .col8  {
            float: left;
            width: 50%;
            background-color: rgba(216, 198, 1, 0.81);
            /* This will change the color to red */
            /* rgb color is a mix of red, green and blue  */
            /* color: rgb(255,0,0)  */
            /* changes the shade/opacity of the color */
            color: rgba(9, 0, 104, 0.8);
            text-align: center;
            font-family: "Arial Black", Gadget, sans-serif;
            margin-bottom: 30px;
          }

.Lists{ text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: white;

  padding-top: 20px;
  padding-bottom: 20px;
}

.cent {
  text-align: center;
  list-style-position: inside;
  margin-top: 3px;
margin-bottom: 1px;
padding-top: 20px;
padding-bottom: 20px;
background-color: white ;
font-family: sans-serif;
}
